bitcoin/bitcoin_ticks.csv filter=lfs diff=lfs merge=lfs -text
achilles_ticks.csv filter=lfs diff=lfs merge=lfs -text
bitcoin/bitcoin__ticks.csv filter=lfs diff=lfs merge=lfs -text

gold/tests/
gold/diagnostics/